jboss/server/all/deploy/project.ext
jboss/server/default/deploy/project.ext
jboss/server/minimal/deploy/project.ext
jboss/server/all/log/*.log
jboss/server/all/tmp/**/*
jboss/server/all/data/**/*
jboss/server/all/work/**/*
jboss/server/default/log/*.log
jboss/server/default/tmp/**/*
jboss/server/default/data/**/*
jboss/server/default/work/**/*
jboss/server/minimal/log/*.log
jboss/server/minimal/tmp/**/*
jboss/server/minimal/data/**/*
jboss/server/minimal/work/**/*
/src/main/resources/git.properties
src/main/resources/rebel.xml
# deployed package files #
.project
.classpath
*.DEPLOYED
/target/
.settings
npm-debug.log
/bin/
.settings/org.eclipse.wst.common.component
rulesservice-war/src/main/resources/rulesservice-war-git.properties
**/target/
