<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" name="Log4jTest" packages="">
	<Properties>
		<Property name="filename">test.log</Property>
	</Properties>

	<Appenders>
		<Console name="STDOUT">
			<PatternLayout pattern="%d{dd MMM yyyy HH:mm:ss,SSS} - %msg%n" />
		</Console>


	</Appenders>

	<Loggers>
		<Root level="INFO">
			<AppenderRef ref="STDOUT" />
		</Root>
		<Logger name="com.hazelcast.internal.diagnostics.HealthMonitor"
			level="ERROR" additivity="false">
			<AppenderRef ref="STDOUT" />
		</Logger>
		<Logger
			name="com.hazelcast.nio.serialization.HazelcastSerializationException"
			level="ERROR" additivity="false">
			<AppenderRef ref="STDOUT" />
		</Logger>
		<Logger name="life.genny" level="INFO" additivity="false">
			<AppenderRef ref="STDOUT" />
		</Logger>
		<Logger name="org.jboss.resteasy.resteasy_jaxrs.i18n" level="ERROR">
			<AppenderRef ref="STDOUT" />
		</Logger>

		<Logger name="org.drools.compiler.kie.builder.impl.KieBuilderImpl" level="ERROR">
			<AppenderRef ref="STDOUT" />
		</Logger>
		<Logger name="org.drools.core.xml.ExtensibleXmlParser" level="ERROR">
			<AppenderRef ref="STDOUT" />
		</Logger>
		<Logger name="io.vertx.core.impl.BlockedThreadChecker" level="WARN" additivity="false">
			<AppenderRef ref="STDOUT" />
		</Logger>

	</Loggers>
</Configuration>

	<!-- pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" /> -->
